/APIExample/bin
/APIExample/obj
/.vs
/dataModel/bin
/dataModel/obj
/IVueElementAdminServices/bin
/IVueElementAdminServices/obj
/VueElementAdminServices/bin
/VueElementAdminServices/obj
/VueElementAdminRepository/bin
/VueElementAdminRepository/obj
/IVueElementAdminRepository/obj
/IVueElementAdminRepository/bin
/VueElementAdmin.Model/bin
/VueElementAdmin.Model/obj
